{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="main-inner grid">

        <div class="main-info">

    <h1>Add Folder</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control", type="text") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.dir.label }}<br>
            {{ form.dir(class="form-control", type="text") }}<br>
            {% for error in form.dir.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
        </div></div></div>
{% endblock %}