<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='css/master.css') }} />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

    <title>{{title}}</title>
</head>
{% if dark %}
<body style=" background-color: #6E6C78 !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
    color: rgb(255, 255, 255)">
{% else %}
    <body style=" background-color: #e3f2fd !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
    color: rgb(0, 0, 0)">
{% endif %}
<header>
    {% if dark %}
        <nav class="header header-dark bg-dark">
    {% else %}
        <nav class="header header-light" style="background-color: #45B39D;">
    {% endif %}

        <div class="header-inner grid">
            <a class="header-brand" href="/">
                <img src="/static/img/icon.png" width="36" height="36" class="d-inline-block align-top" alt="">
                CatClient

            </a>
            <div class="navigation">
                {% if not is_index %}
                    <button type="button" class="button button-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      QR
                    </button>
                    <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style=";-->
                            <!--color: rgb(0, 0, 0)-->
                        <!--" >-->
                      <!--<div class="modal-dialog modal-dialog-centered modal-sm" role="document" >-->
                        <!--<div class="modal-content">-->
                          <!--<div class="modal-header">-->
                            <!--<h5 class="modal-title" id="exampleModalLongTitle"> QR code</h5>-->
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                              <!--<span aria-hidden="true">&times;</span>-->
                            <!--</button>-->
                          <!--</div>-->
                          <!--<div class="modal-body modal-center" style="text-align:  center">-->
                            <!--<img src="http://{{ ip }}/static/img/qr.png" class="rounded" alt="..." height="250" width="250">-->
                                <!--<figcaption> QR code to go to the site </figcaption>-->
                                <!--<figcaption>-->
                                    <!--<footer class="blockquote-footer">-->
                                        <!--Address: {{ ip }}-->
                                    <!--</footer>-->
                                <!--</figcaption>-->
                          <!--</div>-->
                          <!--<div class="modal-footer">-->
                            <!--<button type="button" class="button button-primary" data-dismiss="modal" >Ok</button>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                {% endif %}
                {% if current_user.is_authenticated %}
                    {% if current_user.type_user == "admin" %}
                        {% if isq %}
                            <a class="button button-secondary" href="{{ fdrc }}">Switch over the mode</a>
                        {% else %}
                            <a class="button button-light" href="/q/{{ home_folder }}" type="button" style="margin-left: 7px;">
                                Quick access
                            </a>
                        {% endif %}
                    <div class="dropdown">
                        <button class="dropbtn">admin settings</button>
                        <div class="dropdown-content">
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/register" type="button">Register user</a>
                            <a class="dropdown-item" href="/add_dirs" type="button"> Add folder to user </a>
                          </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="dropdown">
                        <button class="dropbtn">Dropdown</button>
                        <div class="dropdown-content">
                            <a class="dropdown-item" href="/logout" type="button">Logout</a>
                            <a class="dropdown-item" href="/change_password" type="button">Change Password</a>
                            {% if dark %}
                            <a class="dropdown-item" href="/theme" type="button">Light side</a>
                            {% else %}
                            <a class="dropdown-item" href="/theme" type="button">Dark side</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}


                <a href="/login"><button class="button button-success">Войти</button></a>


            {% endif %}
            </div>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>
