<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }} />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }} />
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>

    <title>{{title}}</title>
</head>
<body style=" background-color: #202020 !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
    color: rgb(255, 255, 255)">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <h4 class="navbar-brand" href="#">
            <img src="/static/img/icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
            <a href="/" title="Go to the main page" style="color: #FFFFFF">CatClient</a>
        </h4>
        {% if current_user.is_authenticated %}
            <p>
                {% if current_user.type_user == "admin" %}
                    <a class="btn btn-outline-primary" href="/register">Зарегистрировать Пользователя</a>
                    <a class="btn btn-outline-success" href="/add_dirs">Добавить папку</a>
                {% endif %}
                <a class="btn btn-outline-primary"> {{ current_user.name }} </a>
                <a class="btn btn-outline-warning" href="/logout"> Выйти </a>



            </p>

        {% else %}
            <p>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>