{% extends "base.html" %}

{% block content %}
<a> </a>
{% if current_user.is_authenticated %}
    {% if current_user.type_user == "admin" %}
        <a> </a>
    {% else %}
        <a> </a>
    {% endif %}
{% else %}
{% endif %}

<div class="container" style="margin-top: 15px">
  <div class="row">

      <div class="col-sm">
        <a>
            {% if quick_type == "pic" %}
            <img src="{{ quick_src }}"  class="rounded" alt="oops, no quick share uploaded" height="200"/>
            {% elif quick_type == "vid" %}
            <video width="640" height="480" controls>
                <source src="{{ quick_src }}" type="video">
                Your browser does not support the video tag.
            </video>
            {% elif quick_type == "aud" %}
            <audio controls>
                <source src="{{ quick_src }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            {% else %}
                <a class="btn btn-primary" download="{{ quick_share }}">Download</a>
            {% endif %}
        </a>
      </div>

    <div class="col-sm">
        <div class="text-right">
            <img src="static/img/qr.png" class="rounded" alt="..." width="200" height="200">
                <figcaption> QR код для перехода на сайт</figcaption>
                <figcaption>
                    <footer class="blockquote-footer">
                        Адрес: {{ ip }}
                    </footer>
                </figcaption>
        </div>
    </div>

  </div>
</div>


<!--<p>-->
<!--    <a>-->
<!--        <div>-->
<!--            <svg height="60" width="200">-->
<!--              <text x="120" y="40" fill="#FFFFFF">-->
<!--                  address:-->
<!--              </text>-->
<!--            </svg>-->
<!--            <font size="50" horiz-adv-x="2">{{ ip }}    </font>-->

<!--        </div>-->
<!--    </a>-->
<!--</p>-->

{% endblock %}