{% extends "base.html" %}

{% block content %}
<a> </a>
{% if current_user.is_authenticated %}
    {% if current_user.type_user == "admin" %}
        <a> </a>
    {% else %}
        <a> </a>
    {% endif %}
{% else %}
{% endif %}

<div class="main">
  <div class="main-inner grid">

      <div class="main-info">
          <div>
              {% if quick_type == "pic" %}
              <img src="{{ quick_src }}"  class="rounded" alt="No quick share uploaded" height="200"/>
              {% elif quick_type == "vid" %}
              <video controls>
                  <source src="{{ quick_src }}" type="video">
                  Your browser does not support the video tag.
              </video>
              {% elif quick_type == "aud" %}
              <audio controls>
                  <source src="{{ quick_src }}" type="audio/mpeg">
                  Your browser does not support the audio element.
              </audio>
              {% else %}
                  <p>Apparently, we can't preview the file :(</p>
              {% endif %}
              <br>
              </br>
              <a href="{{ quick_src }}"><button class="button download_button">download as is</button></a>
          </div>
          {% if avdirs %}
          <div class="container" style="margin-top: 15px">
              <p>Allowed entry directories for you:</p>
              {% for dir in avdirs %}
              <a href="{{ dir[0] }}"><button class="button">{{ dir[1] }}</button></a>
              {% endfor %}
          </div>
          {% endif %}
      </div>


  </div>
</div>

{% endblock %}
